@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    box-sizing: border-box;
}
body{
    display: block;
    background: #F4F4F5;
    font-size: calc(14px + 0.3vw);
    font-family: 'Quicksand', sans-serif;
    max-width: 100%;
    height: 100%;
}
header{
    background-color: #F4F4F5;
    padding-left: calc(8px + 2vw);
}
header p{
    text-align: left;
    margin-bottom: calc(6px + 1vh);
}
nav{
    display: flex;
    background-color: #D3888F;
}
nav ul{
    justify-content: center;
    list-style: none;
    display: flex;
}

nav ul li a{
    display: block;
    text-decoration: none;
    font-weight: lighter;
    padding: 14px 16px;
    color: #F4F4F5;
}
nav ul li a:hover{
    background-color: #C86A73;
}
nav ul li a.active {
    background-color: #C86A73;
}
nav ul li:last-child {
    border-right: none;
}
main{
    background-color: #F4F4F5;;
    flex-wrap: wrap;
    max-width: 70%;
    min-height: 100vh;
    min-width: 0;
    padding-left: calc(8px + 2vw);
    padding-right: calc(8px + 2vw) ;
    margin-right: 5%;
}
h1{
    text-align: left;
    color: #D3888F;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
h2{
    margin-bottom: 10px;
    color: #D3888F;
    font-weight: bolder;
    display: block;
    width: 100%;
}
h3{
    color: #D3888F;
    margin-top: 10px;
}
.layout {
    display: grid;
}
.content{
    display: flex;
    align-items: center;
    gap: 40px;
}
.content img{
    max-width: 40%;
    height: auto;
}
.content p{
    display: inline-block;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    margin-right: 20px;
    font-size: large;
}
.info{
    display: block;
}
.contact img{
    max-width: 16px;
    height: auto;
}
.contact{
    padding-bottom: 5px;
}
.skills{
    display: flex;
    flex-wrap: wrap; gap: 20px;
}
.inputs{
    display: flex;
}

.buttons button{
    color: #F4F4F5;
    background-color: #D3888F;
    border: none;
    margin: 5px;
    border-radius: 6px;
    padding: 4px 12px;
    font-size: calc(4px + 1vw);
}

ul li{
    color: #827E8B;
    font-weight: lighter;
    font-size: large;
}
p{
    color: #827E8B;
    font-weight: lighter;
}
a{
    color: #827E8B;
    text-decoration: none;
    font-weight: lighter;
}
footer p{
    background-color: #F4F4F5;;
    padding: 20px;
    font-size: small;
}
@media (max-width: 750px) {
    header p{
        text-align: center;
    }
    h1{
        text-align: center;
    }
    nav ul{
        flex-direction: row;
    }
    nav ul li{
        border-right: 2px solid #C86A73;
    }
    nav{
        max-width: 100%;
    }
}
@media (min-width: 751px) {
    .layout{
        grid-template-columns: max(160px, 22%) 1fr;
        column-gap: calc(16px + 2vw);
    }
    nav ul{
        flex-direction: column;
    }
    nav{
        grid-column: 1;
        grid-row: 1 / 4;
        display: block;
        max-width: 80%;
    }
    header{
        grid-column: 2;
        grid-row: 1;
    }
    main{
        grid-column: 2;
        grid-row: 2;
        max-width: 100%;
    }
}
@media (min-width: 1001px) {
    main {
        max-width: 70%;
    }
}